.rota{
    text-align: center;
    padding: 32px;
}

.rota h3{
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding: 8px;
}

.rota .campeos{
    display: flex;
    margin-top: 32px;
    justify-content: space-around;
    flex-wrap: wrap;
}